$mobile-gap: 20px;
$container-bg-color: #F6F6F6;
$desktop-card-size: 340px;
$desktop-horizontal-gap: 60px;
$desktop-vertical-gap: 70px;

.accommodations-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 22px;
  margin-bottom: 27px;
  gap: $mobile-gap; /* Gap for mobile */
  padding: 0; /* No padding for mobile */
}

.accommodation-card {
  position: relative;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover; /* Ensure the image covers the card without stretching */
  }

  h2 {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 9.71px;
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 18px;
    line-height: 25.67px;
    color: white; /* White text for better contrast on the image */
    text-align: left;
    margin: 0;
    padding: 10px;
  }
}

@media (min-width: 600px) {
  .accommodations-container {
    gap: $mobile-gap; /* Gap for tablet */
    padding: $mobile-gap;
    background-color: $container-bg-color;
    border-radius: 25px;
    justify-content: space-between;
    padding: 56px 50px 46px; 
    background-color: $container-bg-color;
    border-radius: 25px;
  }

  .accommodation-card {
    width: calc(100% - #{$mobile-gap});
    width: $desktop-card-size;
    height: $desktop-card-size;
    margin-bottom: $desktop-vertical-gap;
    margin-right: $desktop-horizontal-gap; /* Set horizontal gap between cards */
  }
  

}