* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "montserrat";
}

body{
    margin-left: 20px;
    margin-right: 20px;
}

@media (min-width: 600px) {
    body{
        margin-left: 100px;
        margin-right: 100px;
    }
}
