.apropos-collapses-container {
    margin: 19px auto;
    gap: 20px;
    padding: 0 108.5px;
  
    @media (min-width: 600px) {
      margin-top: 38px;
      margin-bottom: 36px;
    }
  
    .collapse-item {
      .collapse-header {
        background-color: #FF6060;
        color: #fff;
      }
  
      .collapse-content {
        background-color: #fff;
        color: #000;
      }
    }
  }
  