.collapses-container {
  height: 100%;
  margin-top: 10px;
  gap: 20px;
  padding: 0 108.5px;

  @media (min-width: 600px) {
    margin-top: 38px;
  }

  &.logement-collapses-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.collapse-item {
  overflow: hidden;

  &.open .collapse-content {
    visibility: visible;
    opacity: 1;
    transition: max-height 0.3s ease, visibility 0s linear 0s, opacity 0.3s linear;
  }

  .collapse-header {
    border-radius: 5px;
    background-color: #FF6060;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    color: #fff;
    position: relative;
    transition: background-color 0.3s ease;
    width: 335px; // Largeur pour mobile
    height: 30px; // Hauteur pour mobile
    font-size: 13px; // Taille du texte pour mobile

    @media (min-width: 600px) {
      height: 54px; // Hauteur pour les écrans moyens et grands
      font-size: 24px; // Taille du texte pour les écrans moyens et grands
      width: auto; // Annule la largeur fixe pour les écrans moyens et grands
    }

    .collapse-icon {
      position: absolute;
      right: 20px;
      top: 50%;
      width: 16px; // Taille par défaut pour mobile
      height: 9.14px; // Taille par défaut pour mobile
      transform: translateY(-50%);
      transition: transform 0.3s ease;

      &.open {
        transform: translateY(-50%) rotate(-180deg);
      }

      img {
        display: block;
        width: 100%;
        height: 100%;
      }

      @media (min-width: 900px) {
        width: 24px; // Taille pour les écrans grands
        height: 13.71px; // Taille pour les écrans grands
      }
    }
  }

  .collapse-content {
    background-color: #fff;
    margin: 10px 0 10px 0;
    color: #000;
    max-height: 0;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    transition: max-height 0.3s ease, visibility 0s linear 0.3s, opacity 0.3s linear;

    @media (min-width: 600px) {
      max-height: 500px;
      margin-bottom: 30px;
    }
  }
}
