.collapses-container {
    width: 100%;
    margin: 19px auto; /* Combine margin-top et margin-bottom */
    gap: 20px;

    @media (min-width: 600px) {
        max-width: 1023px;
        margin: 38px auto; /* Combine margin-top et margin-bottom pour le bureau */
    }
}

.collapse-item {
    overflow: hidden;

    &.open .collapse-content {
        visibility: visible;
        opacity: 1;
        transition: max-height 0.3s ease, visibility 0s linear, opacity 0.3s linear; /* Simplification des délais */
    }

    .collapse-header {
        border-radius: 5px;
        background-color: #FF6060;
        padding: 10px;
        font-weight: bold;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #fff;
        position: relative;
        transition: background-color 0.3s ease;

        @media (min-width: 600px) {
            height: 54px;
            font-size: 24px;
        }

        .collapse-icon {
            position: absolute;
            right: 20px;
            top: 22px;
            height: 10px;
            width: 10px;
            border-top: 3px solid white;
            border-left: 3px solid white;
            transform: rotate(45deg);
            transition: transform 0.3s ease, top 0.3s ease;

            &.open {
                top: 17px;
                transform: rotate(-135deg);
            }
        }
    }

    .collapse-content {
        background-color: #fff;
        margin: 10px 0 20px 15px; /* Combine margin-left, margin-top et margin-bottom */
        color: #000;
        max-height: 0;
        overflow: hidden;
        visibility: hidden;
        opacity: 0;
        transition: max-height 0.3s ease, visibility 0s linear 0.3s, opacity 0.3s linear;

        @media (min-width: 600px) {
            max-height: 500px;
            margin-bottom: 30px;
        }
    }
}
