@import "./variables.scss";

.error-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #fff;

  @media (min-width: #{$bp-xl}) {
    padding: 0;
  }

  .error-code {
    font-size: 96px;
    color: #FF6060;
    margin: 104px 0 113px;

    @media (min-width: #{$bp-sm}) {
      font-size: 144px;
      margin: 0 0 100px;
    }

    @media (min-width: #{$bp-xl}) {
      font-size: 288px;
      margin: 0 0 139px;
    }
  }

  .error-message {
    color: #FF6060;
    font-size: 18px;
    font-weight: 500;
    margin: 0 0 113px;

    @media (min-width: #{$bp-sm}) {
      font-size: 24px;
      margin: 0 0 100px;
    }

    @media (min-width: #{$bp-xl}) {
      font-size: 36px;
      margin: 0 0 139px;
    }
  }

  .error-link {
    color: #000;
    text-decoration: underline;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 113px;
    cursor: pointer;

    &:hover {
      color: #FF6060;
    }

    @media (min-width: #{$bp-sm}) {
      font-size: 16px;
      margin-bottom: 100px;
    }

    @media (min-width: #{$bp-xl}) {
      font-size: 18px;
      margin-bottom: 139px;
    }
  }
}
