.hostinfo-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  .rating {
    display: flex;
    justify-content: flex-end;
    align-items: end;
    gap: 2px;
    margin: 0;
    height: 18px;
    order: -1;

    img.star {
      width: 13.41px;
      height: 13px;
    }
  }

  .host {
    margin: 0;
    display: flex;
    flex-direction: row-reverse;
    flex-grow: 1;

    .picture-host {
      border-radius: 50%;
      width: 32px;
      height: 32px;
    }

    .name-host {
      display: flex;
      color: #FF6060;
      font-size: 12px;
      font-weight: 500;
      margin-right: 10px;
      margin-top: 0;
      margin-bottom: 0;
      word-break: break-word;
      text-align: right;
      max-width: 80px;
    }
  }

  @media (min-width: 600px) {
    flex-direction: column;

    .rating {
      order: 0;
      gap: 3px;
    }

    .host {
      margin-top: 20px;

      .picture-host {
        width: 40px;
        height: 40px;
      }

      .name-host {
        font-size: 14px;
        max-width: 80px;
        margin-top: 5px;
      }
    }
  }

  @media (min-width: 900px) {
    flex-direction: column;
    align-items: flex-end;

    .rating {
      order: 0;
      gap: 5px;
      width: 196px;
      height: 36px;

      img.star {
        width: 24.75px;
        height: 24px;
      }
    }

    .host {
      margin-top: 30px;

      .picture-host {
        width: 64px;
        height: 64px;
      }

      .name-host {
        font-size: 18px;
      }
    }
  }
}
