.logement-container{
.info-container {
  @media (min-width: 600px) {
    display: flex;
    justify-content: space-between;

    &--left{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    &--right{
      display: flex;
    }
  }
}
.logement-collapses-container{
  display: flex;
  flex-direction: row;
  padding: 0;
  .collapse-item{
    flex: 1;
  }
}
}