@import "./variables.scss";

.logement-container {
  .info-container {
    &--right {
      display: flex;
    }

    @media (min-width: #{$bp-sm}) {
      display: flex;
      justify-content: space-between;

      &--left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      &--right {
        display: flex;
      }
    }
  }

  .logement-collapses-container {
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 0;

    @media (min-width: #{$bp-sm}) {
      flex-direction: row;
      gap: 20px;
    }

    .collapse-item {
      flex: 1;
    }
  }
}
