.tags-container {
    display: flex;
  
    .tag {
      border-radius: 10px;
      background-color: #FF6060;
      min-width: 120px;
      padding: 0 10px;
      height: 25px;
      color: white;
      font-family: "Montserrat", sans-serif;
      font-size: 14px;
      font-weight: 700;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 10px;
      margin-top: 0;
    }
  }
  